---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import ChipLink from "../components/ChipLink.astro";
import Layout from "../components/Layout.astro";
import LocationIcon from "../icons/LocationIcon.astro";

import projects from "../projects.json";
import works from "../works.json";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "../content/*.{png,jpg,jpeg,gif,svg}"
);

const posts = (await getCollection("blog")).sort((a, b) =>
  a.data.date < b.data.date ? 1 : -1
);
---

<Layout title="Josh Richards" description="Josh Richards personal website">
  <h1 class="mb-3 text-3xl font-semibold">Hi, I'm Josh Richards</h1>
  <div class="flex flex-row items-center gap-2 mb-4">
    <LocationIcon />
    <span class="text-sm text-zinc-400">Edinburgh, United Kingdom</span>
  </div>
  <p class="mb-4">
    A Software Engineer at Xero where I help build the Syft Analytics Platform.
    In my free time I love to build simple web apps to solve everyday problems.
  </p>
  <p>
    Feel free to email me at <a
      class="underline hover:text-blue-400"
      href="mailto:hello@josh.work">hello@josh.work</a
    >
  </p>
  <a href="test-app" class="text-blue-500 underline">Test App</a>
  <a href="splash" class="text-blue-500 underline">Splash</a>
  <a href="water-ball" class="text-blue-500 underline">Water Ball</a>
  <section class="mt-8">
    <h2 class="mb-2 text-2xl font-semibold">Work</h2>
    <div class="border-l-2 border-zinc-700">
      {
        works.map((work) => (
          <article class="pl-4 pb-4 mb-3 border-b-2 last:border-b-0 border-zinc-700">
            <div class="flex items-center mb-2 gap-2">
              <Image
                src={images[work.logo]()}
                alt={`Screenshot of ${work.name}`}
                width={50}
                height={50}
                class="rounded-md w-8"
              />
              <h3 class="text-lg">
                {work.title} @ {work.name} ({work.time})
                {work.link && <ChipLink link={work.link} name="Website" />}
              </h3>
            </div>
            <p class="text-sm text-zinc-400 mb-4">{work.description}</p>
            <div class="flex gap-2 flex-wrap">
              {work.skills.map((skill) => (
                <span class="text-xs bg-zinc-800 text-zinc-400 rounded-full px-2 py-1">
                  {skill.toUpperCase()}
                </span>
              ))}
            </div>
          </article>
        ))
      }
    </div>
  </section>
  <section class="mt-8">
    <h2 class="mb-2 text-2xl font-semibold">Projects</h2>
    {
      projects.map((project) => (
        <article class="rounded-md border border-zinc-700 px-4 pb-4 pt-2 mb-3">
          <div class="flex flex-wrap justify-between mb-2 gap-y-2">
            <h3>
              {project.name} ({project.date})
            </h3>
            <div class="flex gap-2">
              {project.links.map((link) => (
                <ChipLink link={link.url} name={link.name} />
              ))}
            </div>
          </div>
          <div class="flex flex-col sm:flex-row items-start gap-4">
            {project.screenshot && (
              <Image
                src={images[project.screenshot]()}
                alt={`Screenshot of ${project.name}`}
                width={400}
                height={225}
                class="rounded-md object-cover w-full sm:w-60"
              />
            )}
            <div>
              <p class="text-sm text-zinc-400 mb-4">{project.description}</p>
              <div class="flex gap-2 flex-wrap">
                {project.stats.map((stat) => (
                  <div class="flex flex-col bg-zinc-800 rounded-md px-2 py-1">
                    <span class="text-xs text-zinc-400">
                      {stat.name.toUpperCase()}
                    </span>
                    <span class="text-zinc-300">{stat.value}</span>
                  </div>
                ))}
              </div>
            </div>
          </div>
        </article>
      ))
    }
  </section>
  <section class="mt-12">
    <h2 class="mb-4 text-2xl font-semibold">Blog</h2>
    {
      posts.map((post) => {
        return (
          <a href={`/blog/${post.slug}`}>
            <article class="group mb-4">
              <h3 class="group-hover:text-blue-400 group-hover:underline">
                {post.data.title}
              </h3>
              <p class="text-sm text-zinc-400">{post.data.description}</p>
            </article>
          </a>
        );
      })
    }
  </section>
</Layout>
